<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <style>
        h1,h2{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
        }
        ul,button{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Rev Up Your Life with Our Cars</h1>
    <h2>Choose a brand</h2>
    <ul>
        <button onclick="location.href='/cartype'">View ALL CarType</button>
        <button onclick="location.href='audict/'">View AUDI</button>
        <button onclick="location.href='bmwct/'">View BMW</button>
        <button onclick="location.href='mercedesct/'">View MERCEDES-BENZ</button>
    </ul>
</body>
</html>