<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <style>
    body{
        background: bisque;
    }
    button{
        text-align: right;
        color: black;
        background: cadetblue;
    }
    #basket{
        color: white;
        background: navy;
        }
    </style>
    <div>
        <button id="basket" onclick="location.href='/basket'">Basket</button>
    </div>
    <div>
        <ul>
             {% for car in cars %}
                 <li>
                     Car: {{ car.car_type.brand }} {{ car.car_type.name }} color: {{ car.color }}, year: {{ car.year }} Owner:{{ car.owner }} Price: {{ car.car_type.price }}$
                     <a href="{% url 'create_order' car.id %}">Add to basket</a>
                 </li>
             {% endfor %}
         </ul>
    <img src="{{ car.car_type.image.url }}" alt="Image">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*">
        <button type="submit">Add image</button>
    </form>
    </div>
         {% if pk <= 8 %}
             <button onclick="location.href='/audict/'">Назад</button>
         {% elif pk >= 9 and pk <= 16 %}
             <button onclick="location.href='/mercedesct/'">Назад</button>
         {% else %}
             <button onclick="location.href='/bmwct/'">Назад</button>
         {% endif %}
    </body>
</html>