<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        background: bisque;
    }
    button{
        text-align: right;
        color: black;
        background: cadetblue;
    }
    #basket{
        color: white;
        background: navy;
        }
</style>
<div>
    <button id="basket" onclick="location.href='/basket'">Basket</button>
</div>
<body>
    <ul>
        {% for car in cars %}
            <li>
                Car: {{ car.car_type.brand }} {{ car.car_type.name }} color: {{ car.color }}, year: {{ car.year }} Owner:{{ car.owner }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>