{% load static %}
<link rel="stylesheet" href="{% static 'styles_cars.css' %}"><!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <div>
        <button id="basket" onclick="location.href='/basket'">Basket</button>
    </div>
    <ul>
        {% for cartype in cartypes %}
            <li>
                <a href="{% url 'car_edit' cartype.id %}">ID {{ cartype.id }}</a>
                Brand: {{ cartype.brand }}, Models: {{ cartype.name }}, Prise: {{ cartype.price }}$
            </li>
        {% endfor %}
    </ul>
    <button onclick="location.href='/redi/'">Назад</button>
</body>
</html>