{% load static %}
<link rel="stylesheet" href="{% static 'styles_cars.css' %}"><!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>BASKET</h1>
        {% for car in cars %}
            <li>
                Car: {{ car.car_type.brand }} {{ car.car_type.name }} color: {{ car.color }}, year: {{ car.year }} Owner:{{ car.owner }}
            </li>
        {% endfor %}
    </div>
    <div>
        <button onclick="location.href='/order_cancel/'">Скасувати замовлення</button>
        <button onclick="location.href='/order_confirm/'">Оплатити замовлення</button>
        <button onclick="location.href='/redi/'">Повернутися на головну</button>
    </div>
</body>
</html>